<div class="current_weather">
<p><%= erb :sunset_teaser %></p>
</div>

<div class="container">


  <div id="login">

    <form action="/users/verify" method="get">
      <h2 class="form-signin-heading">Log in</h2>
      <input type="email" name="user[email]" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" name="user[password]"class="form-control" placeholder="Password" required>
      <button id="login" class="btn btn-lg btn-primary btn-block" value="Login!" type="submit">Log in</button>
    </form>

  <p><a id="create_new" href="/users/new">Create an Account</a></p>

  </div>


</div>
