<div id="login">
  <form action="/users/verify" method="get">

    Email<input name="user[email]" type="email" placeholder="Dom@dom.com"/></br>
    Password<input name="user[password]" type="password" placeholder="password"/></br>
    <input value="Login!" type="submit" /></br>

  </form>


  <a href="/users/signup">Create an Account</a>

</div>