<div id="signup">
  <form action="/users/register" method="post">

    Name<input name="user[name]" type="text" placeholder="Dom"/></br>
    Email<input name="user[email]" type="email" placeholder="Dom@dom.com"/></br>
    Phone Number<input name="user[phone_number]" type="text" placeholder="123-456-7890"/></br>
    Password<input name="user[password]" type="password" placeholder="password"/></br>
    <input value="Sign Up!" type="submit" /></br>

  </form>

</div>