<div>
  <form action="/sign_up" method="post">

    <input name="user[name]" type="text" /></br>
    <input name="user[email]" type="email" /></br>
    <input name="user[phone_number]" type="text" /></br>
    <input name="user[password]" type="password" /></br>
    <input value="Sign Up!" type="submit" /></br>
    
  </form>

</div>