        <br>

<div class="row">

<div class="col-md-8 col-md-offset-2 text-center container_style">
  <h2 id="welcome_header" class="form-signin-heading"><strong>Welcome <%= @user.name %></strong></h2>
</div>
</div>

        <br>

<div class="row">
  <div class="col-md-8 col-md-offset-2 ">
    <div class="row">
      <div class="col-md-4 text-center container_style user_cols">
        <h2><strong>Communication Settings</strong></h2>
        <p>You want sunsets.<p>
        <p><i class="fa fa-sun-o fa-5x"></i></p>
        <br>
        <p>You want full moons.<p>
        <p><i class="fa fa-moon-o fa-5x"></i></p>

        <!-- <br> -->

      </div>

      <div id="mid_info" class="col-md-4 text-center user_cols container_style">
        <h2><strong>User Info</strong></h2>
        <p>Name: <%= @user.name %></p>
        <p>Phone number: <%= @user.phone_number %></p>
        <p>Email: <%= @user.email %></p>
        <a href="#">- Edit info - </a>
     <!--    <br>
        <br> -->
      </div>

      <div class="col-md-4 text-center user_cols container_style">
        <h2><strong>Test Settings</strong></h2>
        <p>Check your settings by sending a test text message with the form below.</p>

        <form action="/users/text_messages" method="post">
          <textarea class="form-control" name="text" required type="text" placeholder="send yourself a test text message..."></textarea>
          <button class="btn btn-lg btn-primary btn-block" value="send text" type="submit">Send text</button>
        </form>
        <!-- <br> -->
        <p><stong>OR...</strong></p>
        <!-- <br> -->
        <p>Send yourself a test alert with the button below.</p>

        <form action="/users/text_messages/sunset" method="post">
          <button id="testbutt" class="btn btn-lg btn-primary btn-block" value="Login!" type="submit">Send sunset text</button>
        </form>

      </div>
    </div>

  </div>
</div>
