
<div class="user_page container">
  <h2 class="form-signin-heading">Welcome, <%= @user.name %></h2>
      <hr>

  <div class="row">
    <div id="user_page_text" class="col-md-6">
<p>This is your chance to learn about sunsets. You can choose things and you can select options and send texts. Also sunsets too.</p>

    </div>

    <div id="user_page_form" class="col-md-6">


      <form action="/users/text_messages" method="post">
        <textarea class="form-control" name="text" required type="text"></textarea>
        <button class="btn btn-lg btn-primary btn-block" value="send text" type="submit">Send text</button>
      </form>

      <hr>

      <form action="/users/text_messages/sunset" method="post">
        <button id="testbutt" class="btn btn-lg btn-primary btn-block" value="Login!" type="submit">Send sunset text</button>
      </form>

    </div>
  </div>


</div>

<!--
<div class="row">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6">.col-md-6</div>
</div> -->