
<div class="user_page container">
  <h2 class="form-signin-heading">Welcome, <%= @user.name %></h2>
      <hr>
    <h2>Communication Settings</h2>
    <hr>
  <!-- <div class="row"> -->
    <h2>User Info</h2>
    <hr>

    <!-- <div id="user_page_form" class="col-md-6"> -->
    <h2>Test Settings</h2>
    <p>Check your settings by sending a test text message with the form below.</p>


      <form action="/users/text_messages" method="post">
        <textarea class="form-control" name="text" required type="text" placeholder="send yourself a test text message..."></textarea>
        <button class="btn btn-lg btn-primary btn-block" value="send text" type="submit">Send text</button>
      </form>

      <br>
      <p>Send yourself a sunset alert with the button below.</p>

      <form action="/users/text_messages/sunset" method="post">
        <button id="testbutt" class="btn btn-lg btn-primary btn-block" value="Login!" type="submit">Send sunset text</button>
      </form>

    </div>
  <!-- </div> -->


</div>
